#main-container {
    background-color: #685656;
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
    max-width: 900px;
    flex: 1 1 auto;
    min-height: 450px;
    max-height: 800px;
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 3px black;
}