#box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

#footer {
    flex: 0 1 15px;
    min-height: 15px;
}

button {
    /* note: change to different color when there is a filter active for a given button */
    background-color: #FFD95A;
    padding: 0.7em;
    font-family: inherit;
    font-weight: 500;
    border-radius: 0.7em;
}

.hidden {
    display: none;
}