:root {
    font-family: 'Mulish', sans-serif;
    letter-spacing: 1.2px;

    background-color: #FFF7D4;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    display: contents;
}

html, body {
    height: 100%;
    margin: 0;
}